* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

header {
  background-color: #2e8b57;
  color: rgb(245, 237, 237);
  padding: 15px;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: rgb(240, 235, 235);
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 60px;
}

.hero {
  background-image: url("../image/fondo.jpg");
  height: 1000px;
  background-position: center;
  background-size: contain;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(251, 255, 248);
}

.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(222, 225, 231);
  padding: 5px;
  margin: 5px;
  border-radius: 22px;
  width: 100%;
  text-align: center;
}

.card img {
  width: 60%;
  border-radius: 8px;
}

form {
  max-width: 400px;
  margin: 30px auto;
  background: rgb(224, 163, 163);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form input,
form textarea,
form button {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: #f1c40f;
  border: none;
}

.centrado {
  text-align: center;
  padding: 30px;
}

footer {
  background-color: #6b4f1d;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}